@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
	list-style:none;
	margin:0%;
	padding:0%;
}

header{
	position:fixed;
	background:#e5df88;
	width:100%;
	height:60px;
	border-bottom:2px dashed #931a25;
}

header > .PageHead h3{
	text-align:center;
	
	padding:20px;
	color: #e97171;
}

body >.Dashboard{
	
	background:#000000;
	margin-top:65px; 
	position:fixed;
	padding-top:15px; 
	height:100%;
	width:15%;
	border:2px solid white;
	border-radius:5px; 
}

body> .Dashboard h4{
	
	font-size:25px;
	color:white;
	border-bottom:2px solid white ;
	margin-bottom:15px;
}

body >.Dashboard .DashboardContent{
	margin-top:10px;
	margin-left:25px; 
}
body >.Dashboard .DashboardContent a{
	color:white;
	display:block;
	margin-top:20px;
	font-size:20px;
	text-decoration: none;
}

body >.Dashboard .DashboardContent a:hover{
	
	background:white;
	border:2px solid white;
	color: #000000;
	border-radius:8px; 
}

body> .SearchBar{
	position:fixed;
	margin-left:250px;
	margin-top:70px; 
	width:100%; 
}
body> .SearchBar #SearchBox{
	width: 70%;
	height:30px;
	padding-left:10px;
}
body> .SearchBar #SearchButton{
	width:5%;
	height:30px;
}

body> .NewsSection{
	position:fixed;
	margin-left:250px;
	margin-top:110px;
	width:70%;
	height:150px; 
	border:2px solid #000000;
}

body> .NewsSection #RightButton{
	float:right;
	margin-top:50px;
	height:50px;
	width:25px;
}

body> .NewsSection #LeftButton{
	height:50px;
	margin-top:50px;
	width:25px;
}

body> .CategorySection{
	position:fixed;
	margin-top:270px;
	margin-left:250px;
	
}